<div class="row d-flex flex-column">
<div class="row">
  <div class="col-md-12 back-img">
    <h3 class="text-over">Your Music<br><span>On Repeat</span></h3>
    <button class="play-button media-button" label="play">
      <i class="fas fa-play button-icons delta"></i>
    </button>
  </div>
</div>
<div class="row h-100 justify-content-around">
    <div class="col-md-3 album-column">
      <img src="assets/albums/album2.jpg" alt="Album 1" class="img-fluid">
      <div class="album-text">Pop Hits</div>
    </div>
    <div class="col-md-3 album-column">
      <img src="assets/albums/album1.jpg" alt="album 2" class="img-fluid" style="height: -webkit-fill-available;">
      <div class="album-text">Rap</div>
    </div>
    <div class="col-md-3 album-column">
      <img src="assets/albums/album3.jpg" alt="album 3" class="img-fluid">
      <div class="album-text">Techno 90s</div>
    </div>
    <div class="col-md-3 album-column">
      <img src="assets/albums/album4.jpg" alt="album4" class="img-fluid" style="height: -webkit-fill-available;">
      <div class="album-text">80s Hits</div>
    </div>
  </div>
</div>