.album-page-main{
    margin: 120px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.album-content{
    display: flex;
    gap: 20px;
    align-items: flex-end;
    color: #ccc;
}
.img-album{
    height: 200px;
    width: 200px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #ccc;
}
.songs-main{
    gap: 10px;
}
