<section class="forms-section">
    <div class="forms">
        <div class="form-wrapper">
            <button type="button" class="switcher switcher-login">
                Login
                <span class="underline"></span>
            </button>
            <div class="form form-login">
                <h2 class="title">You have an account?</h2>
                <div class="media-buttons">
                    <button class="back-button media-button" label="back">
                      <i class="fas fa-step-backward button-icons"></i>
                    </button>
                
                    <button class="rewind-button media-button" label="rewind">
                      <i class="fas fa-backward button-icons"></i>
                    </button>
                
                    <button class="play-button media-button" label="play">
                      <i class="fas fa-play button-icons delta"></i>
                    </button>
                
                    <button class="fast-forward-button media-button" label="fast forward">
                
                      <i class="fas fa-forward button-icons"></i>
                    </button>
                
                    <button class="skip-button media-button" label="skip">
                      <i class="fas fa-step-forward button-icons"></i>
                    </button>
                  </div>
                <div class="player-around">
                    <input class="player">
                </div>
                <button routerLink="../public/login" class="button-all btn-login">Login</button>
            </div>
            
        </div>
        <div class="form-wrapper is-active">
            <button type="button" class="switcher switcher-signup">
                Sign Up
                <span class="underline"></span>
            </button>
            <div class="form form-signup">
                <h2 class="title">Don't have an account?</h2>
                <div class="media-buttons">
                    <button class="back-button media-button" label="back">
                      <i class="fas fa-step-backward button-icons"></i>
                    </button>
                
                    <button class="rewind-button media-button" label="rewind">
                      <i class="fas fa-backward button-icons"></i>
                    </button>
                
                    <button class="play-button media-button" label="play">
                      <i class="fas fa-play button-icons delta"></i>
                    </button>
                
                    <button class="fast-forward-button media-button" label="fast forward">
                
                      <i class="fas fa-forward button-icons"></i>
                    </button>
                
                    <button class="skip-button media-button" label="skip">
                      <i class="fas fa-step-forward button-icons"></i>
                    </button>
                  </div>
                <div class="player-around">
                    <input class="player">
                </div>
                <button routerLink="../public/register" class="button-all btn-signup">Register</button>
            </div>
        </div>
    </div>
</section>