<div class="container-new">
    <div class="card">
        <div class="content">
            <img class="img-fluid" src="assets/images/firstrecord.png" alt="First discover">
            <div class="cardContent">
                <h3>PLAY YOUR FAVOURITE SONG<br><br><span>“Music gives a soul to the universe, wings to the mind, flight to the imagination, and life to everything.” – Plato </span></h3>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img class="img-fluid" src="assets/images/secondrecord.png" alt="Second discover">
            <div class="cardContent">
                <h3>CREATE PLAYLIST<br><br><span>Several research studies have revealed that music is an excellent way to unite people and create a sense of social connectedness.</span></h3>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img class="img-fluid" src="assets/images/thirdrecord.png" alt="Second discover">
            <div class="cardContent">
                <h3>FIND NEW ARTIST OR SONG<br><br><span>“The true beauty of music is that it connects people. It carries a message, and we, the musicians, are the messengers.” — Roy Ayers</span></h3>
            </div>
        </div>
    </div>
</div>