<div class="dashboard-main">
    <div class="sidebar">
        <app-sidebar (sidebarEvent)="onSidebar()"></app-sidebar>
    </div>
    <div class="dashboard-content">
        <div class="search-section">
            <div class="search-bar">
                <input [(ngModel)]="searchTxt" (keydown.enter)="onSearch($event.target)" type="text" placeholder="Search">
            </div>
        </div>
        <div class="item-section" >
            <app-artist-card *ngFor="let artist of artists" [data]="artist" (detailEvent)="onDetail(artist)" [showCard]="showCard"></app-artist-card>
        </div>
        <div class="item-section">
            <app-artist-card  [data]="searchResults"  (detailEvent)="onDetail(searchResults)"  [showCard]="!showCard"></app-artist-card>
        </div>
    </div>
</div>