<div class="dashboard-main">
    <div class="sidebar">
        <app-sidebar (sidebarEvent)="onSidebar()"></app-sidebar>
    </div>
    <div class="dashboard-content">
        <div class="search-section">
            <div class="search-bar">
                <input [(ngModel)]="searchTxt" (keydown.enter)="onSearch($event.target)" type="text" placeholder="Search">
            </div>
        </div>
        <div class="item-section" >
            <app-album-card *ngFor="let album of albums" [data]="album" (detailEvent)="onDetail(album)" [showCard]="showCard"></app-album-card>
        </div>
        <div class="item-section">
            <app-album-card  [data]="searchResults"  (detailEvent)="onDetail(searchResults)"  [showCard]="!showCard"></app-album-card>
        </div>
    </div>
</div>