<div class="dashboard-main">
    <div class="sidebar">
        <app-sidebar (sidebarEvent)="onSidebar()"></app-sidebar>
    </div>
    <div class="dashboard-content">
        <div class="search-section">
            <div class="search-bar">
                <input [(ngModel)]="searchTxt" (keydown.enter)="onSearch($event.target)" type="text" placeholder="Search">
            </div>
        </div>
        <div class="item-section" >
            <app-song-card *ngFor="let song of songs let i = index" [data]="song" [i]="i" (playEvent)="play(i)"[showCard]="showCard"></app-song-card>
        </div>
        <div class="item-section">
            <app-song-card  [data]="searchResults"   [showCard]="!showCard"></app-song-card>
        </div>
        <div class="item-section">
            <app-music-player-bar [audio]="audio" [ispaused]="audio.paused" (playEvent)="play()" [musicList]="songs" [currentTime]="currentTime" [duration]="duration" [musicLength]="musicLength" [currentMusic]="currentMusic" [trackPointer]="trackPointer"></app-music-player-bar>
        </div>
    </div>
</div>